/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}


body {
    background-color: wheat;
}

h1 {
    font-size: 4em; /* relative sizing (1) */
}

p {
    font-size: 4mm; /* absolute sizing (3) */
}

.header b{
    font-size: 30pt; /*relative sizing (2) */
}

.box1 {
    background-color: #567895;
    border: 5px solid #0b385f;
    border-bottom-style: dashed;
    color: #fff;
  } 

  .box2 {
    background-color: #ffd2f7;
    box-sizing: border-box;
    width: 1750px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 60px;
    border: 10px solid #FF00FF;
    margin: 10px;
  } 

  .bulletPoint i {
      font-size: 25px; /*absolute sizing (1) */
  }

  .header2 b{
      font-size: 2vw; /*relative sizing(2) */

  }

  .header3 b{
    font-size: 5vh; /*relative sizing(3) */

}

