/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

body {
    background-color: wheat;
}

h1 {
    font-size: 4em; /* relative sizing (1) */
}

.header b{
    font-size: 3.5ch; /*relative sizing (2) */
}

.box1 {
    background-color: #567895;
    border: 5px solid #0b385f;
    border-bottom-style: dashed;
    color: #fff;
  } 

  .bulletPoint i {
      font-size: 25px; /*absolute sizing (1) */
  }